<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-md-8 col-md-offset-2">
   <h2> Coding Challenge</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <dual-list [source]="source" [key]="key" [display]="display"   (destinationChange)="autoSave($event)"  [(destination)]="confirmed"></dual-list>

   
    </div>
  </div>

<!--<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <input type="button" value="Save" (click)="savedata()" />
  </div>
</div>-->

